body{
    margin: 0;
}



/* Nav Bar */

nav{
    display: inline-flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
.nav-left {

}

.nav-right {
    margin-left: 40rem;
}

.nav-right-inline {
    display: inline-flex;
}

.list-space {
    margin-right: 1rem;
}